.cardLanding {
    width: 18rem;
}

/* Highlighting rules for nav menu items */
li.link-active a,
li.link-active a:hover,
li.link-active a:focus {
    background-color: #4189C7;
    color: white;
}
body{
    background-color: whitesmoke;
    color: ThreeDDarkShadow;
}
.nav-top{
    color: whitesmoke !important;
    background-color:darkslateblue;
}
.nav-bottom{
    background-color:lavenderblush;
}
.navbar-brand{
    color: whitesmoke;  
}
.navbar-brand:hover{
    color: white;
}

.nav-link {
    float: none;
    font-size: 14px;
    margin-left: 6px;
    color: whitesmoke;
}

h4{
    font-weight: 700;
}

.card-header {
    background-color: whitesmoke;
    color: black;
    font-weight: 800;
    border-color: #337ab7;
    padding-left: 5px;
    border-bottom-style: solid;
    border-top-width:0px;
    border-bottom-width: 5px;
}

.card-header-alert {
    background-color: #cc5500;
    border-color: #cc5500;
}

.card-footer {
    font-size: 14px;
    background-color: white;
}


.card-body {
    font-size: 12px;
    border-style: none;
}

.card-body-alert {
    border-color: #cc5500;
}

.card-body-grid {
    margin: 0px,0px,0px,0px !important;
    padding: 0.1em 0.1em !important;
}

.card {
    border-style: none;
}


.k-combobox {
    width: 100%;
    font-size: 14px;
}

div.k-popup .k-item {
    font-size: 12px;
}

.k-dropdown .k-dropdown-wrap {
    height: 14px;
}

.k-dateinput {
    font-size: 12px;
    height: 35px;
}

.k-grid {
    margin: 0px,0px,0px,0px !important;
    padding: 0.1em 0.1em !important;
}

.k-grid-header, k-header {
    font-weight: 400;
    padding: 0.1em 0.1em;
    font-size: 12px;
}

.k-grid td {
    padding: 0.3em 0.3em;
    margin: 0px,0px,0px,0px !important;
    font-size: 12px;
}
